h3 { color:red; background-color: #90ff90; }
h3:after { content:"(©sblim)"; font-size:10pt; background-color:yellow; }
#first { background-image:url(dog.jfif); background-repeat:repeat-x; }
#second { background-image:url(dog.jfif); }
#third { background-image:url(dog.jfif); background-repeat:no-repeat;
        background-position: center bottom}