p { font-size: 10pt }
.red1 { color:red; font-style:italic; } /* red1 클래스=빨간색 이탤릭*/
strong.red1 { font-size:12pt; }
#next { color:blue; text-align:center; }

a:link { color: blue; }
a:visited { color:green; }
h3:before { content:"◆"; color:blue; }
h3:after { content: "(©sblim)"; font-size:10pt; }